.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
  color: var(--red);
}
.screen-header__icons span {
  margin-left: 20px;
}
.screen-header__icons span:first-child {
  color: var(--purple);
}
.screen-header__icons span:nth-child(2) {
  color: var(--yellow);
}

.screen-header__icons span:nth-child(3) {
  color: var(--green);
}
.screen-header__icons span:nth-child(4) {
  color: var(--red);
}
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
